<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        /* Estilize a aba amarela */
        .aba {
            background-color: gainsboro;
            padding: 15px; /* Tamanho da aba aumentado */
            text-align: center;
            font-size: 50px; /* Tamanho da fonte aumentado */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            border-bottom: 2px dimgray solid;
        }
        
        body {
            padding-top: 70px; 
        }
    </style>
</head>
<body>
    
    <div class="aba">Gestão de Veículos Escolares</div>

</body>
</html>
